<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input id="name" type="text" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <br/>
    <label for="age">Enter age: </label>
    <input id="age" type="text" th:field="*{age}">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>

    <br/>
    <label for="email">Enter email: </label>
    <input id="email" type="text" th:field="*{email}">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <br/>
    <input type="submit" value="update">
</form>

</body>
</html>